@font-face { font-family: fonty; src: url('KingthingsExtortion-YMAa.ttf'); } 

.coolfont {
    font-family: fonty;
    font-size: 500px;
}

body {
    background-color: black;
    font-family: Arial;
}

.whiteText {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a {
    text-decoration: none;  
    text-align:center;
    display:block;
}

.zindex {
    z-index: 999;
}

.center {
    align-items: center;
}

.icon {
    width: 150px;
    height: 150px;
    float: right; 
}

.pp{
    margin-bottom: -75px;
    margin-top: -75px;
}

p {
    transition: all 1s ease;
}



.pp:hover {
    text-shadow: 0 0 100px white;
}

.ppp:hover {
    text-shadow: 0 0 200px white;
}

img:hover {
    text-shadow: 0 0 100px white;
}
